#canvasMap{
      	position: absolute;
        width : 1000px;
        height : 788px;
		z-index: 50;
}

#legende {
	font-size: 30px;
	color: #990000;
	font-weight: bold;
	z-index: 100;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px;
	  
}